<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOMEPAGE - TFstream</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="header">
      <a href="/"><img src="/img/tfstream.png" class="logo" /></a>
      <p><i>EVENT MANAGEMENT</i></p>
    </div>
    <h1><img class="icon" src="/img/icons/homepage.png" />WELCOME IN TFSTREAM</h1>
    <p class="txt"><i>TFstream</i> installation was successful and you can now start using the Event Management System.</p>
    <a href="/view"><div class="view"> <img class="iconsMenu" src="/img/icons/view.png" /> <h1 style="position: absolute; right: 10px; bottom: -30px;">VIEW</h1></div></a>
    <a href="/sender"> <div class="sender"><img class="iconsMenu" src="/img/icons/send.png" /> <h1 style="position: absolute; right: 10px; bottom: -30px;">SENDER</h1></div></a>
    <a href="/panel"><div class="panel"><img class="iconsMenu" src="/img/icons/panel.png" /><h1 style="position: absolute; right: 10px; bottom: -30px;">PANEL</h1></div></a>
    <a href="/settings"><div class="settings"><img class="iconsMenu" src="/img/icons/settings.png" /><h1 style="position: absolute; right: 10px; bottom: -30px;">SETTINGS</h1></div></a>
    <footer>
        <p>   </p>
        <p>TFstream Event Management System - © ATHLES.NET</p>
    </footer>

  </body>
</html>
